/*Declaracion da variables CSS, las cuales pueden ser llamadas desde los diferentes grupos creados*/
:root{
    --color-primario: #eaeaea;
    --color-neutro:#bfb48f;
    --color-secundario: #9f2042;
    --color-oscuro: #252627;
    --color-gris: #564e58;
    --color-blanco:#ffffff;
}

/* Estilos generales*/
*{
    padding: 0%;
    margin: 0%;
}

.body_portada {
    height: 100%;
    margin: 0;
    font-family: "Krona One", sans-serif;
    scroll-behavior: smooth; /* Para desplazamiento suave */
}

html{
    scroll-padding-top: 120px; /* Ajusta este valor a la altura del nav fijo */
}

html, body{
    height: 100vh;
    background-color: var(--color-primario);
    color: var(--color-primario);
    box-sizing: border-box;
}

.contenedor_imagen{
    width: 50%;
    padding: 5%;  
}

h1{
    font-size: 80px;
}

h2{
    font-family: "Krona One", sans-serif;
    font-size: medium;
    color: var(--color-secundario);
    font-size: xx-large;
    padding-bottom: 1%;
}

h3{
    font-size: large;
    font-family: "Krona One", sans-serif;
    color: var(--color-oscuro);
}

p{
    font-size: x-large;
    text-align: justify;
    color: var(--color-oscuro);
    font-family: "Krona One", sans-serif;
}

.texto_resaltado{
    color: var(--color-secundario);
}


/* Estilos PORTADA */
.contenedor_portada {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80%; /* El contenedor ocupará hasta el 80% de la pantalla */
    background-color: var(--color-primario);
    cursor: pointer; /* Para que el contenedor sea clicable */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto suave en color y movimiento */
    transform: translateY(0); /* Estado inicial sin movimiento */
    color: var(--color-oscuro);
    padding-bottom: 1%;
    margin: 0 10%; /* Corrección del margen */
    text-decoration: none;
    text-align: center;
    padding: 20px; /* Añadimos algo de relleno */
}

/* Efecto hover */
.contenedor_portada:hover {
    transform: translateY(-30px); /* Desplazar hacia arriba en hover */
    color: var(--color-secundario);
    text-shadow: 2px 2px 5px var(--color-gris);
}

/* Enlace interactivo */
.enlace_portada img {
    max-width: 100px; /* Limitar el tamaño de la imagen */
    margin: 20px 0; /* Espaciado entre la imagen y el texto */
}


/* Estilos Menu de navegacion*/
.contenedor_menu_navegacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;   /* Fija el nav en una posición */
    top: 0;            /* Lo coloca en la parte superior de la página */
    width: 100%;       /* Hace que el nav ocupe todo el ancho de la pantalla */
    z-index: 1000;     /* Asegura que el nav esté por encima del resto del contenido */  
    background-color: var(--color-blanco);
    box-shadow: 2px 2px 2px 1px var(--color-gris);
}

.estilo_enlace_navegacion{
    text-decoration: none;
    color: var(--color-secundario);
    font-size: xx-large; 
    font-family: "Krona One", sans-serif;
    padding: 2%;
    border: none;
    transform: translateY(0); /* Estado inicial sin movimiento */
}

:hover.estilo_enlace_navegacion{
    color:var(--color-oscuro);
    transform: translateY(-3px); /* Desplazar hacia arriba 20px en hover */
    text-shadow: 2px 2px 5px var(--color-oscuro);
}

/* Estilos para el la seccion sobre mi*/
.contenedor_seccion_sobre_mi{
    margin: 2% 10%;
    padding-top: 120px;
}

.contenedor_imagen_botones{
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
}

.contenedor_botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    padding: 5% 0% 10% 0%;
}

.estilo_visual_boton{
    background-color: var(--color-secundario);
    border: solid var(--color-secundario) 2px;
    width: 50%;
    height: 16px;
    text-align: center;
    font-size: large;
    font-weight: 400;
    padding: 21px 0;
    text-decoration: none;  
    font-family: "Krona One", sans-serif;
    color: var(--color-primario);
    box-shadow: 2px 2px 2px 1px var(--color-gris);
    transform: translateY(0); /* Estado inicial sin movimiento */
}

:hover.estilo_visual_boton{
    background-color: var(--color-gris);
    box-shadow: 2px 2px 2px 1px var(--color-secundario);
    transform: translateY(-3px); /* Desplazar hacia arriba 20px en hover */

}

/* estilos para el la seccion educacion*/
.contenedor_seccion_educacion{
    margin: 2% 10%;
    padding-top: 30px;
}

.visual_listado_cursos{
    color: var(--color-oscuro);
    font-size: x-large;
    font-family: "Krona One", sans-serif;    
}

table {
    width: 100%;
    color: var(--color-oscuro);
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 2px 1px var(--color-gris);
    font-family: "Krona One", sans-serif;    
  }

th{
    background-color: var(--color-gris);
    color: var(--color-primario);        
    padding: 20px;
    text-align: center;       
    font-size: large;
}

td {
    padding: 10px;
    border: solid 1px;
    border-collapse: collapse;
    font-size: large;
}

ul{
    list-style-type: none;
}

/* estilos para el la seccion habilidades*/

.contenedor_seccion_habilidades{
    margin: 2% 10%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-ajusta las columnas según el tamaño */
    gap: 20px; /* Espacio entre los elementos */
    padding-top: 30px;
}

.contenedor_seccion_habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contenedor_seccion_habilidades li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-blanco); /* Color de fondo diferente a los declarados*/
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-gris);
    margin: 1% 10% 0% 10%;
  }

  :hover.contenedor_seccion_habilidades li{
    box-shadow: 0 4px 8px var(--color-secundario);
  }
  
  .contenedor_iconos_habilidades {
    height: 50px;
    margin-top: 10px;
    padding: 1%;  
  }

/* Estilos para el la seccion contacto*/

.contenedor_formulario_contacto{
    height: 70%;
    background: var(--color-blanco);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 1%;
}

.estilo_visual_formulario{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo_visual_input{
    width: 50%;
    padding: 1%;
    margin: 1%;
}

.estilo_visual_input--textarea{
    width: 50%;
    height: 180px;
    padding: 1%;
    margin: 1%;
}

.estilo_visual_boton_enviar{
    background-color: var(--color-secundario);
    border: solid var(--color-secundario) 2px;
    width: 25%;
    text-align: center;
    font-size: large;
    font-weight: 400;
    padding: 15px 0;
    margin: 1%;
    text-decoration: none;  
    font-family: "Krona One", sans-serif;
    color: var(--color-primario);
    box-shadow: 2px 2px 2px 1px var(--color-gris);
    transform: translateY(0); /* Desplazar hacia arriba 20px en hover */

}

:hover.estilo_visual_boton_enviar{
    background-color: var(--color-gris);
    box-shadow: 2px 2px 2px 1px var(--color-secundario);
    transform: translateY(-3px); /* Desplazar hacia arriba 20px en hover */
}

/* Estilos para el la seccion proyectos*/
.contenedor_seccion_proyectos{
    margin: 2% 10%;
}

.contenedor_imagenes_acceso_proyectos{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Estilos footer*/
footer {
    text-align: center;
    color: var(--color-primario);
    background-color: var(--color-gris);
    padding: 1%;
    font-size:medium;
    font-family: "Krona One", sans-serif;
}

@media(max-width:850px){

    .contenedor_menu_navegacion{
        flex-direction: column;
    }

    .estilo_enlace_navegacion{
        padding: 1%;
    }

    .contenedor_seccion_sobre_mi{
        padding-top: 260px;
    }
    
    .contenedor_seccion_educacion, 
    .contenedor_seccion_habilidades,
    .contenedor_seccion_proyectos{
        padding-top: 150px;
    }

}